{% macro render_pagination(pagination, endpoint, kwargs) %}
  <div class=pagination>
  <ul class="pagination">
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <li><a href="{{ url_for(endpoint, page=page, **kwargs) }}"> {{ page }}</a></li>
      {% else %}
        <li class="active"><a>{{ page }}</a></li>
      {% endif %}
    {% else %}
      <li><a><span class=ellipsis>…</span></a></li>
    {% endif %}
  {%- endfor %}
  </ul>
  </div>
{% endmacro %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="icon" href="../../favicon.ico">
  <title>
    {% block page_title %}
    Buggy blog
    {% endblock %}
  </title>
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="author" content="{% block meta_author %}{% endblock %}">
  {% assets "css_all" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
  <script type="text/javascript" async src="/static/libs/MathJax/MathJax.js?config=TeX-AMS_HTML"></script>
</head>
<body>
{% block body %}
{% include 'navbar.html' %}
<div class="container">
  <div class="blog-header">
    <h1 class="blog-title">Buggy blog</h1>
    <p class="lead blog-description">Test flask-based blog.</p>
  </div>
  <div class="row">
    <div class="col-sm-8 blog-main">
      {% include 'messages.html' %}
      {% block content %}{% endblock %}
    </div><!-- /.blog-main -->
    {% include 'sidebar.html' %}
  </div><!-- /.row -->
</div><!-- /.container -->
{% include 'footer.html' %}
{% endblock %}
{% if ENABLE_DISQUS %}
<script id="dsq-count-scr" src="//{{ DISQUS_SHORTNAME }}.disqus.com/count.js" async></script>
{% endif %}
</body>
</html>
